@import "basefiles/base";

footer{ 
	h4{
		font-size: 18px;
	}
    li{
    	list-style-type: none;
    }
}

#action-nav{
text-align: center;
	li{ 
display: inline-block;

		a{
		font-size: 16px;	
		display: block;
	}
}

	li:last-child {
    border-left: none;
}
}
