/* line 2, ../sass/footer.scss */
#footer li {
  list-style-type: none;
}
/* line 4, ../sass/footer.scss */
#footer li a {
  padding: 3px;
  color: #93C83E;
}
/* line 8, ../sass/footer.scss */
#footer li a:hover {
  color: #fff;
}

/* line 16, ../sass/footer.scss */
#subfooter li {
  display: inline-block;
}

/* line 22, ../sass/footer.scss */
#subfooter-wrapper {
  padding: 14px 0px 12px 0px;
}

/* line 26, ../sass/footer.scss */
#footer-wrapper, #sessions-wrapper {
  background-color: #333;
  color: #fff;
}

/* line 30, ../sass/footer.scss */
#footer-wrapper {
  padding: 50px 0px 60px 0px;
}
