@charset "UTF-8";
/* CSS Document */
/* line 5, ../sass/global.scss */
a {
  color: #5E003B;
}

/* line 7, ../sass/global.scss */
.shadow {
  -moz-box-shadow: -2px 12px 42px #000000;
  -webkit-box-shadow: -2px 12px 42px #000000;
  box-shadow: -2px 12px 42px #000000;
}

/* line 13, ../sass/global.scss */
li {
  list-style-type: none;
}

/* line 15, ../sass/global.scss */
#jumbotron {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 20, ../sass/global.scss */
#top-nav, #header {
  padding-left: 0px;
  padding-right: 0px;
}

/*==================================================
 * Effect 2
 * ===============================================*/
/* line 32, ../sass/global.scss */
.effect2 {
  position: relative;
}

/* line 36, ../sass/global.scss */
.effect2:before, .effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* line 56, ../sass/global.scss */
.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 5
 * ===============================================*/
/* line 70, ../sass/global.scss */
.effect5 {
  position: relative;
}

/* line 74, ../sass/global.scss */
.effect5:before, .effect5:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}

/* line 94, ../sass/global.scss */
.effect5:after {
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}

/*==================================================
 * Effect 8
 * ===============================================*/
/* line 109, ../sass/global.scss */
.effect8 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/* line 116, ../sass/global.scss */
.effect8:before, .effect8:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

/* line 131, ../sass/global.scss */
.effect8:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

/*==================================================
 * Gradient_001
 * ===============================================*/
/* line 145, ../sass/global.scss */
.gradient_001 {
  background-image: linear-gradient(bottom, #070d0f 4%, #2d4854 52%, #416271 76%);
  background-image: -o-linear-gradient(bottom, #070d0f 4%, #2d4854 52%, #416271 76%);
  background-image: -moz-linear-gradient(bottom, #070d0f 4%, #2d4854 52%, #416271 76%);
  background-image: -webkit-linear-gradient(bottom, #070d0f 4%, #2d4854 52%, #416271 76%);
  background-image: -ms-linear-gradient(bottom, #070d0f 4%, #2d4854 52%, #416271 76%);
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.04, #070d0f), color-stop(0.52, #2d4854), color-stop(0.76, #416271));
}

/* line 161, ../sass/global.scss */
.gradient_002 {
  background-image: linear-gradient(bottom, #416271 4%, #10232b 52%, #070d0f 76%);
  background-image: -o-linear-gradient(bottom, #416271 4%, #10232b 52%, #070d0f 76%);
  background-image: -moz-linear-gradient(bottom, #416271 4%, #10232b 52%, #070d0f 76%);
  background-image: -webkit-linear-gradient(bottom, #416271 4%, #10232b 52%, #070d0f 76%);
  background-image: -ms-linear-gradient(bottom, #416271 4%, #10232b 52%, #070d0f 76%);
  background-image: -webkit-gradient(linear, right bottom, right top, color-stop(0.04, #416271), color-stop(0.52, #10232b), color-stop(0.76, #070d0f));
}
