/* line 21, ../sass/main.scss */
.swh-10 {
  height: 10px;
}

/* line 24, ../sass/main.scss */
.pad-10 {
  padding: 10px;
}

/* line 27, ../sass/main.scss */
.padT-10 {
  padding-top: 10px;
}

/* line 30, ../sass/main.scss */
.padR-10 {
  padding-right: 10px;
}

/* line 33, ../sass/main.scss */
.padB-10 {
  padding-bottom: 10px;
}

/* line 36, ../sass/main.scss */
.padL-10 {
  padding-left: 10px;
}

/* line 39, ../sass/main.scss */
.push-10 {
  margin: 10px;
}

/* line 42, ../sass/main.scss */
.pushT-10 {
  margin-top: 10px;
}

/* line 45, ../sass/main.scss */
.pushR-10 {
  margin-right: 10px;
}

/* line 48, ../sass/main.scss */
.pushB-10 {
  margin-bottom: 10px;
}

/* line 51, ../sass/main.scss */
.pushL-10 {
  margin-left: 10px;
}

/* line 21, ../sass/main.scss */
.swh-20 {
  height: 20px;
}

/* line 24, ../sass/main.scss */
.pad-20 {
  padding: 20px;
}

/* line 27, ../sass/main.scss */
.padT-20 {
  padding-top: 20px;
}

/* line 30, ../sass/main.scss */
.padR-20 {
  padding-right: 20px;
}

/* line 33, ../sass/main.scss */
.padB-20 {
  padding-bottom: 20px;
}

/* line 36, ../sass/main.scss */
.padL-20 {
  padding-left: 20px;
}

/* line 39, ../sass/main.scss */
.push-20 {
  margin: 20px;
}

/* line 42, ../sass/main.scss */
.pushT-20 {
  margin-top: 20px;
}

/* line 45, ../sass/main.scss */
.pushR-20 {
  margin-right: 20px;
}

/* line 48, ../sass/main.scss */
.pushB-20 {
  margin-bottom: 20px;
}

/* line 51, ../sass/main.scss */
.pushL-20 {
  margin-left: 20px;
}

/* line 21, ../sass/main.scss */
.swh-30 {
  height: 30px;
}

/* line 24, ../sass/main.scss */
.pad-30 {
  padding: 30px;
}

/* line 27, ../sass/main.scss */
.padT-30 {
  padding-top: 30px;
}

/* line 30, ../sass/main.scss */
.padR-30 {
  padding-right: 30px;
}

/* line 33, ../sass/main.scss */
.padB-30 {
  padding-bottom: 30px;
}

/* line 36, ../sass/main.scss */
.padL-30 {
  padding-left: 30px;
}

/* line 39, ../sass/main.scss */
.push-30 {
  margin: 30px;
}

/* line 42, ../sass/main.scss */
.pushT-30 {
  margin-top: 30px;
}

/* line 45, ../sass/main.scss */
.pushR-30 {
  margin-right: 30px;
}

/* line 48, ../sass/main.scss */
.pushB-30 {
  margin-bottom: 30px;
}

/* line 51, ../sass/main.scss */
.pushL-30 {
  margin-left: 30px;
}

/* line 21, ../sass/main.scss */
.swh-40 {
  height: 40px;
}

/* line 24, ../sass/main.scss */
.pad-40 {
  padding: 40px;
}

/* line 27, ../sass/main.scss */
.padT-40 {
  padding-top: 40px;
}

/* line 30, ../sass/main.scss */
.padR-40 {
  padding-right: 40px;
}

/* line 33, ../sass/main.scss */
.padB-40 {
  padding-bottom: 40px;
}

/* line 36, ../sass/main.scss */
.padL-40 {
  padding-left: 40px;
}

/* line 39, ../sass/main.scss */
.push-40 {
  margin: 40px;
}

/* line 42, ../sass/main.scss */
.pushT-40 {
  margin-top: 40px;
}

/* line 45, ../sass/main.scss */
.pushR-40 {
  margin-right: 40px;
}

/* line 48, ../sass/main.scss */
.pushB-40 {
  margin-bottom: 40px;
}

/* line 51, ../sass/main.scss */
.pushL-40 {
  margin-left: 40px;
}

/* line 21, ../sass/main.scss */
.swh-50 {
  height: 50px;
}

/* line 24, ../sass/main.scss */
.pad-50 {
  padding: 50px;
}

/* line 27, ../sass/main.scss */
.padT-50 {
  padding-top: 50px;
}

/* line 30, ../sass/main.scss */
.padR-50 {
  padding-right: 50px;
}

/* line 33, ../sass/main.scss */
.padB-50 {
  padding-bottom: 50px;
}

/* line 36, ../sass/main.scss */
.padL-50 {
  padding-left: 50px;
}

/* line 39, ../sass/main.scss */
.push-50 {
  margin: 50px;
}

/* line 42, ../sass/main.scss */
.pushT-50 {
  margin-top: 50px;
}

/* line 45, ../sass/main.scss */
.pushR-50 {
  margin-right: 50px;
}

/* line 48, ../sass/main.scss */
.pushB-50 {
  margin-bottom: 50px;
}

/* line 51, ../sass/main.scss */
.pushL-50 {
  margin-left: 50px;
}

/* line 56, ../sass/main.scss */
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 63, ../sass/main.scss */
.content {
  padding-bottom: 50px;
}
